<header>
    
    <div class="logos-prin">
        <a href="index.html"> <img class="logo" src="IMG/Logo.png" alt="logo"></a>
    </div>

    <nav class="nav-desktop">
        <ul class="nav-conteiner-desktop">
            <li><a href="index.html" id="nav-inicio">início</a></li> 
            <li><a href="SOBRE/sobre.html" id="nav-sobre">Sobre Mim</a></li> 
            <li><a href="HABILIDADES/habilidades.html" id="nav-habilidades">Habilidades</a></li>
            <li><a href="PROJETOS/projetos.html" id="nav-projetos">Projetos</a></li>
            <li><a href="CONTATO/contato.html" id="nav-contato">Contato</a></li>
        </ul>
    </nav>
    
    <div class="menu-hamburger-icon">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
    </div>

    <nav class="nav-mobile">
        <ul class="nav-conteiner-mobile">
            <li><a href="index.html">início</a></li> 
            <li><a href="SOBRE/sobre.html">Sobre Mim</a></li> 
            <li><a href="HABILIDADES/habilidades.html">Habilidades</a></li>
            <li><a href="PROJETOS/projetos.html">Projetos</a></li>
            <li><a href="CONTATO/contato.html">Contato</a></li>
        </ul>
    </nav>
</header>
